/*Navbar*/

.material-symbols-outlined {
    margin-right: auto;
}

.nav-logo {
    color: #000;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.piano {
    color: #e39191 !important;
    padding-inline: 5px !important;
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222;
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

    .nav-link:hover {
        color: #626265c1;
        cursor: pointer;
    }

.navbar-nav-align {
    margin-left: auto !important;
}

/*------content section------- */

/*.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content .section {
        padding-right: 36px;
        padding-left: 36px;
        align-items: center;
    }

.headline-grid {
    z-index: 1;
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


.text-label {
    display: block;
    margin-bottom: 10px;
    opacity: 0.7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif !important;
}

.text-content-size {
    margin-bottom: 0px;
}

.text-content-size {
    margin-top: 10px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 300;
    text-transform: none;
    font-family: 'Work Sans', sans-serif !important;
}*/

/*Footer*/

.pro-container {
    max-width: 1170px;
    margin: auto;
}

.pro-row {
    display: flex;
    flex-wrap: wrap;
}

.pro-ul {
    list-style: none;
    padding-left: 0%;
}

.pro-footer {
    background-color: #24262b;
    padding: 20px 0;
    margin-bottom: -5%;
}

.pro-footer-col {
    width: 25%;
    padding: 0 15px;
}

.pro-footer-col h4 {
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
font-weight: 500;
margin-bottom: 35px;
position: relative;
}

.pro-footer-col h4::before {
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.pro-footer-col ul li:not(:last-child) {
margin-bottom: 10px;
}

.pro-footer-col ul li a {
font-size: 16px;
color: #ffffff;
text-transform: capitalize;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

.pro-footer-col ul li a:hover {
color: #ffffff;
padding-left: 10px;
}

.pro-footer-col .social-links a {
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.pro-footer-col .social-links a:hover {
color: #24262b;
background-color: #ffffff;
}

