/*@import url('https://fonts.googleapis.com/css?family=Numans');*/

body[b-snk1aiu19u] {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container[b-snk1aiu19u] {
    height: 100%;
    align-content: center;
}

.card[b-snk1aiu19u] {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span[b-snk1aiu19u] {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover[b-snk1aiu19u] {
        color: white;
        cursor: pointer;
    }

.card-header h3[b-snk1aiu19u] {
    color: white;
}

.social_icon[b-snk1aiu19u] {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span[b-snk1aiu19u] {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus[b-snk1aiu19u] {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember[b-snk1aiu19u] {
    color: white;
}

    .remember input[b-snk1aiu19u] {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn[b-snk1aiu19u] {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover[b-snk1aiu19u] {
        color: black;
        background-color: white;
    }

.links[b-snk1aiu19u] {
    color: white;
}

    .links a[b-snk1aiu19u] {
        margin-left: 4px;
    }
