/*Hero section*/

.hero-section {
    width: 100%;
    height: 80vh;
    margin-top:7%;
    position: relative !important;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.hero-section-large-text {
    z-index: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    line-height: 50px;
    font-weight: 300;
    color: #ffffff70;
    position: absolute;
    bottom: 40px;
    right: 50%;
    width: 29vw;
    animation: heroanimation 4s infinite cubic-bezier(0.42, 0, 0, 1.94);
}

@keyframes heroanimation {
    from {
        transform: translateX(-400px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* last section */

.mid-sec {
    padding-top: 50px;
}

.mid-window {
    height: 360px;
    background-image: url(../images/hero1.png);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

/*------products section------*/

.product {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section {
    padding-right: 36px;
    padding-left: 36px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.product-grid {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.product-container {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 3;
    grid-column-end: span 3;
}

/*------content section------- */

.search-bar {
    font-size: revert;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content .section {
    padding-right: 36px;
    padding-left: 36px;
    align-items: center;
}

.headline-grid {
    z-index: 1;
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


.text-label {
    display: block;
    margin-bottom: 10px;
    opacity: 0.7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif !important;
}

.text-content-size {
    margin-bottom: 0px;
}

.text-content-size {
    margin-top: 10px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 300;
    text-transform: none;
    font-family: 'Work Sans', sans-serif !important;
}

