@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INJAY FITNESS STORE</title>

    <!-- main css -->
    @*<link rel="stylesheet" href="css/style.css">*@


    <!-- <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet"> -->
    <!-- Navbar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Footer -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- footer css -->
    <!-- scripts -->

    <script src="js/script.js"></script>
    <script src="js/data.js"></script>
</head>

<body>

    <!-- hero section -->
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="hero-section">
                    <video class="hero-video" autoplay="autoplay" muted loop>
                        <source src="~/images/video/pexels-ron-lach-7674509.mp4" type="video/mp4" />
                    </video>
                    <div class="hero-section-large-text">Equip your workouts..</div>
                </div>
            </div>
        </div>

        <!-- content section -->

        <div class="content">
            <div class="section">
                <div class="headline-grid">
                    <div>
                        <div class="text-label">Shop gym equipments</div>
                        <input class="search-bar" placeholder="WHAT TO SEARCH" type="" id="search"
                               onkeyup="searchProduct()" />
                        <div class="text-content-size">Stylish modern collection options</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- products section -->


        <div class="product">
            <div class="section">
                <div>
                    <div role="list" id="productGrid" class="product-grid">
                        <div class="product-container" id="Item1" role="listitem">
                            <div class="image-wrap">

                                <div class="sale">
                                    Sale
                                </div>
                                <div style="background-image: url(../images/Equipment_Images/Dumbell/H_D.jpg)"
                                     class="product-image product-image-size-m">

                                </div>
                                <div class="view-product-container">
                                    <a style="opacity: 1;" class="view-button" onclick="productOnClick('${item.id}')">
                                        <div class="button-small white-small">
                                            <div>View Product</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="product4-content-wrap">
                                <a class="size6-link">item 1</a>
                                <div class="size4-text">20</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--last section-->

        <div class="mid-sec">
            <div class="mid-window">
            </div>
        </div>
    </div>




</body>
</html>

@section scripts{
    @*<link href="~/css/style.css" rel="stylesheet" asp-file-version="true" />*@

    <script>
        allProducts()

        function productOnClick(x) {
            localStorage.setItem("id", x)
            //window.location = 'productView.html'
        }
       
    </script>
}

